include ../head.pug
style.
  body th{
    color: red ;
  }
  body{
    background-color: grey ;
  }
  body tr{
    background: white;
  }
  .btn-primary{
    background: orange;
  }

  
body
    .container.mt-5
      h1 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr.clp
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Venue
            th(scope="col") Contact Phone
            th(scope="col") About Event
            th(scope="col") Change
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/event')
          .then(function(response) {
            const events = response.data;
            const tableBody = document.querySelector('table tbody');
            events.forEach(e => {
              const row = document.createElement('tr');
              const event = e.event
              row.innerHTML = `
                <td>${e.id}</td>
                <td>${event.eventName}</td>
                <td>${event.eventDateTime}</td>
                <td>${event.venue}</td>
                <td>${event.contactPhone}</td>
                <td>${event.seat}</td>
                <td>
                  <button class="btn btn-primary btn-sm" data-id="${e.id}">Update</button>
                  <button class="btn btn-danger btn-sm" data-id="${e.id}">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-danger')) {
        const eventId = event.target.getAttribute('data-id');
        axios.delete(`/api/event/${eventId}`).then(function(response) {
          alert('Deleted successfully', response);
          location.href = '/';
        })
        .catch(function(error) {
          alert('Error deleting event: ' + error);
        });
      }

      if (event.target && event.target.classList.contains('btn-primary')) {
        const eventId = event.target.getAttribute('data-id');
        location.href = `/update/${eventId}`;
      }
    });

    



      
